
<table class="table">
    <thead>
      <tr>   
        <th scope="col">Id</th>
        <th scope="col">student Name</th>
        <th scope="col">student father name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" >
        <td>{{ student.studentId }}</td>
        <td>{{ student.studentName }}</td>
        <td>{{ student.fatherName }}</td>
        <td>{{ student.studentClass }}</td>
        <td><input type="submit"  name="submit_edit" value="Delete" (click)="deleteStudents(student.studentId)" /></td>
        <td><input type="submit"  name="submit_edit" value="Edit" ></td>
   
      </tr>
      
    </tbody>
  </table>